.home{
    background: url('../../images/Bg.jpg'), rgba(94, 114, 150, 0.5);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-attachment: fixed;
}
.vehicle-area{
    align-items: center;
    height: 92.5vh;
}